body{
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(to right bottom, #182a62, #004e87, #007192, #009081, #33ab5f);
}

.grid-container{
    display: grid;
    width: 880px;
    grid-template-columns: 120px 100px 215px 10px 215px 10px 135px 75px;
    grid-template-rows: 96px 55px 230px 10px 52px 10px 218px 10px 80px 13px 92px 50px 118px;
}

.image-container1{
    grid-column: 3 / 4;
    grid-row: 2 / 4;
}

.image-container2{
    grid-column: 5 / 9;
    grid-row: 3 / 6;
}

.image-container3{
    grid-column: 5 / 6;
    grid-row: 7 / 10;
}

.image-container4{
    grid-column: 7 / 9;
    grid-row: 7 / 10;
}

.image-container5{
    grid-column: 5 / 6;
    grid-row: 11 / 13;
}

.image-container6{
    grid-column: 7 / 8;
    grid-row: 11 / 12;
}

.image-container7{
    grid-column: 2 / 4;
    grid-row: 9 / 13;
}

.image-container8{
    grid-column: 1 / 4;
    grid-row: 5 / 8;
}